@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}
/* shared section */
.flexdisplay{
    display: flex;
}
/* dark2 */
.text-gray1{
    color: #424242;
}
/* dark3 */
.text-gray2{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header section */
.headside{
    font-size: 3rem;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.menu{
  /* padding: 20px; */
}
.nav-links{

}
.nav-item{
   list-style-type: none;
   margin-left:30px ;

}
.nav-link{
text-decoration:none;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner img{
   width: 100%;
}
.banner-head{
    font-size: 4rem;
}
.banner-content{
    width: 860px;
    text-align: center;
     margin: 0 auto;
     margin-bottom: 25px;
    

}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    width: 180px;
    border-radius: .5rem;
    font-size:1.25rem ;
    padding: 23px 23px;
}